## Node 

# modules
node_modules
sources/*
sources/images/*
sources/document/*
middleware

# Sample Secure Data 
usersDb.js
adressDb.js

## Google Drive Generate File
desktop.ini

## Don't Ignore this
!sources/images/default.png